html 
    head
        title=title
        link(type="text/css" rel="stylesheet", href="style.css")
    body
        div 
            div(class="center_h1")   
                h1=message
            each val, index in data
                div(class="center")
                    ul
                        p=`Nome: ${val.name}`
                        p=`Telefone: ${val.phone}`
                        div(class="btn")
                            a(class=`edit` href=`/users-edit/${val.id}`) Editar 
                            a(class=`edit` href=`/user-chieldrens/${val.id}`) Adicionar filhos
                            a(class=`delete` href=`/users-delete/${val.id}`) Deletar
        div(class="center")                       
            a(class='return' href='/users-form') Adicionar mais usuarios