
html 
    head 
        link(type="text/css" rel="stylesheet", href="/userForm.css")
        title=title 
    body 
        div(class="center")
            div(class="center_h1")
                h1
                    message=message
            div(class="form")        
                form(action=route method="POST")
                    div(class="inputs") 
                        label(for="name")="Nome"
                        input(type="text" name="name" id="name" value=userName required)
                    div(class="inputs") 
                        label(for="phone")="Telefone" 
                        input(type="text" name="phone" id="phone" value=userPhone required)
                    div(class="inputs_button") 
                        button(type="submit")=btn1 
                