html
    head
        link(type="text/css" rel="stylesheet", href="userForm.css")
        title=title
    body 
        -var users=users
        div 
            div
                h1=message
            div
                form(action=`/users-edit/${users.id}` method="POST") 
                    label(for="name")="New Name: "
                    input(type="text" name="name" id="name")
                    label(for="phone")="New Phone: "     
                    input(type="text" name="phone" id="phone")
                    button(type="submit")=btn1